$My-Color-Theme-1-hex: #b1b5ba;
$My-Color-Theme-2-hex: #74777a;
$My-Color-Theme-3-hex: #edf3fa;
$My-Color-Theme-4-hex: #38393b;
$My-Color-Theme-5-hex: #d5dae0;

/* Color Theme Swatches in Hex */
$Small-movie-theater-1-hex: #d93250;
$Small-movie-theater-2-hex: #732743;
$Small-movie-theater-3-hex: #030f26;
$Small-movie-theater-4-hex: #f25757;
$Small-movie-theater-5-hex: #f2f2f2;

.main-page {
  background-color: $Small-movie-theater-5-hex;
  color: $Small-movie-theater-3-hex;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: $Small-movie-theater-1-hex;
  color: $Small-movie-theater-5-hex;
  margin: 10px 5px;
  width: 80px;
}
