<mat-toolbar *ngIf="isLoggedIn()" class="nav">
  <h1 (click)="goToMovies()">myFlix</h1>
  <div class="links">
    <button
      routerLink="/profile"
      routerLinkActive="active"
      mat-button
      (click)="goToProfile()"
    >
      Profile
    </button>
    <button
      routerLink="/movies"
      routerLinkActive="active"
      mat-button
      (click)="goToMovies()"
    >
      Movies
    </button>
    <button class="logout" mat-button (click)="logOut()">Log Out</button>
  </div>
</mat-toolbar>
