$Small-movie-theater-1-hex: #D93250;
$Small-movie-theater-2-hex: #732743;
$Small-movie-theater-3-hex: #030F26;
$Small-movie-theater-4-hex: #F25757;
$Small-movie-theater-5-hex: #F2F2F2;

button {
  background-color: $Small-movie-theater-1-hex;
  color: $Small-movie-theater-5-hex
}