$Small-movie-theater-1-hex: #d93250;
$Small-movie-theater-2-hex: #732743;
$Small-movie-theater-3-hex: #030f26;
$Small-movie-theater-4-hex: #f25757;
$Small-movie-theater-5-hex: #f2f2f2;

button {
  background-color: $Small-movie-theater-1-hex;
  color: $Small-movie-theater-5-hex;
}

@media screen and (max-width: 400px) {
  mat-card-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  button {
    font-size: .7em;
    text-align: center;
    width: 33%;
  }
}
